{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Expenses</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Due</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.due }}</td>
                    <td>{{ expense.notes }}</td>
                    <td>
                        <form method="post" action="{% url 'pay_expense' expense.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="expense_id" value="{{ expense.id }}">
                            <button type="submit" class="btn btn-primary">Pay</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}