{% extends 'main/base.html' %}

{% block content %}
    <h1>Expenses</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Due</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.due }}</td>
                    <td>{{ expense.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}