{% extends 'main/base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="section-header">
    <h3>Income Statement for {{ month }}</h3>
</div>

<div class="form-section">
    <h3>Income</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Type of Income</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Member Payments</td>
                <td>${{ total_member_payments }}</td>
            </tr>
            <tr>
                <th>Total Revenue</th>
                <th>${{ total_revenue }}</th>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-section">
    <h3>Expenses</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Type of Expense</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Coach Expenses</td>
                <td>${{ total_coach_expenses }}</td>
            </tr>
            <tr>
                <td>Hall Expenses</td>
                <td>${{ total_hall_expenses }}</td>
            </tr>
            <tr>
                <td>Other Expenses</td>
                <td>${{ total_other_expenses }}</td>
            </tr>
            <tr>
                <th>Total Expenses</th>
                <th>${{ total_expenses }}</th>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-section">
    <h3>Net Income</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Net Income</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${{ net_income }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}