{% extends 'main/base.html' %}
{% load tags %}
{% block content %}
<style>
    table {
        margin-bottom: 20px;
        width: 100%;
    }
    th, td {
        padding: 1em;
        text-align: center;
    }
    tr {
        border: 1px solid black;
    }
    .tableheader{
        padding-bottom: 20px;
    }
</style>
<table>
    <tr class="tableheader">
        <th>Practice</th>
        <th>Coach</th>
        <th>Date</th>
        <th>Members</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Payment Status</th>
    </tr>
    {% for practice in practices %}
    <tr>
        <td>{{ practice.name }}</td>
        <td>{{ practice.coach}}</td>
        <td>{{ practice.date | date:"F d, Y" }}</td>
        <td>
            {% for member in practice.members.all %}
                {{ member.first_name }}<br>
            {% endfor %}
        </td>
        <td>
            {% for member in practice.members.all %}
                {{ member.phone_number }}<br>
            {% endfor %}
        </td>
        <td>
            {% for member in practice.members.all %}
                {{ member.address }}<br>
            {% endfor %}
        </td>
        <td>
            {% for member in practice.members.all %}
                {% member_paid practice member as has_paid %}
                {% if has_paid %}
                    Paid
                {% else %}
                    Not Paid
                {% endif %}
                <br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
