{% extends 'main/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h1>Update Announcement</h1>
<form method="post">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#id_group').change(function() {
            var group = $(this).val();
            $('form input[type=checkbox]').each(function() {
                var userGroup = $(this).parent().find('label').find('label').data('group');
                var skip = $(this).parent().find('label').find('label').data('skip');
                if (group == 'all' || userGroup == group || (group == 'snakes' && skip == 'True')) {
                    $(this).closest('.form-check').show();
                } else {
                    $(this).closest('.form-check').hide();
                }
            });
        });
    });
</script>

{% endblock %}